
<div class="show_page_info">
<h2><%= @current_user.name %></h2>
<%= link_to 'Edit Account', edit_user_path %>
<%= link_to 'Delete Account', destroy_user_path(@current_user.id) %>
<br>
<%= cl_image_tag(@current_user.image, class: 'user_image') %>

<p>
<strong>Email: </strong>
<%= @current_user.email %> 
</p>
<p>
<strong>Password: </strong>
<%= @current_user.password %> 
</p>
<p>
<strong>Studio: </strong>
<%= @current_user.studio %> 
</p>
<p>
<strong>Studio Website: </strong>
<a href="<%= @current_user.studio_url %> "><%= @current_user.studio_url %> </a>
</p>
<p>
<strong>Location: </strong>
<%= @current_user.location %> 
</p>
</div>

