<% if @library.errors.any? %>
  <strong>Please correct the following errors:</strong>
  <ul>
    <% @library.errors.full_messages.each do |e| %>
      <li>
        <%= e %>
      </li>
    <% end %><%# each %>
  </ul>
<% end %><%# if %>
<%= form_with model: @library, local: true, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :image %>
  <br>
  <%= f.file_field :image %>
  <br>
  <br>
  <%= f.submit %>
<% end %>