<h2><%= @project.title %></h2>
<% if @current_user.present? && @project.user_id == @current_user.id %>

    <%= link_to 'Edit Project', edit_project_path(@project.id) %>
    |
    <%= link_to 'Delete Project', destroy_project_path(@project.id) %>
<% elsif @current_user.present? %>
    
 <%#DROP DOWN LIST TO USERS LIBRARIES%>
    <%= form_with url: library_add_project_path(@project.id), local: true do |f| %>
        <%= f.collection_select :library_id, @current_user.libraries, :id, :name %> 
        <%= f.submit "Add" %>

    <% end %>
<% end %> 
<br>
<p>
<strong>Location: </strong>
<%= @project.location %> 
</p>
<p>
<strong>Studio: </strong>
<a href="<%= @project.user.studio_url %>"><%= @project.user.studio %> </a>
</p>
<p>
<a href="<%= @project.project_url %> "><strong>Project Link </strong></a>

</p>

<p>
<strong>Description: </strong>
<%= @project.description %> 
</p>


<% @project.images.each do |i| %>

<%= cl_image_tag(i, class: 'index_image')  %>

<% end %>