<!DOCTYPE html>
<html>
  <head>
    <title>DesignSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    
    <nav class = "nav_bar <%= 'user-container' if @current_user.present?  %>"  >
      
      <%= link_to image_tag('6.png', id: 'logo'), root_path %>
      
       <% if @current_user.present? %>
        
         Welcome, <%= @current_user.name %>
         <%= link_to 'Libraries', libraries_path , class: 'nav_links' %>
         
         <%= link_to 'New Library', new_library_path , class: 'nav_links' %>
         
         <%= link_to 'Projects Index', projects_path , class: 'nav_links' %>
         
         <%= link_to 'New Project', new_project_path , class: 'nav_links' %>
         <section class= 'right_end_buttons'>
          <%= link_to 'Logout', login_path, method: 'delete', class: 'nav_links'  %>
         </section>
          <%= link_to cl_image_tag(@current_user.image, id: 'user_acc_img'), user_path %>

       <% else %>
          <section class= 'log_sign_buttons'>
            <%= link_to 'Login', login_path , class: 'nav_links' %>
         
            <%= link_to 'Sign Up', new_user_path , class: 'nav_links' %>
          </section>
       <% end %>

       
    </nav>

    <%= yield %>

    <footer>
      
      &copy; DesignSPACE 2022
    </footer>

  </body>
</html>